<h1>New Fixed Asset</h1>
<div class="row">
  <div class="card text-center mx-auto" style="width: 45em;">
    <div class="card-header">
      New Asset
      </div>
    <div class="card text-center mx-auto border-0" style="width: 30em;">
<%= render 'form', fixed_asset: @fixed_asset %>
    </div>

<%= link_to 'Back', fixed_assets_path %>

</div>
</div>
