%div{:class => "container-fluid"}
	%div{:class => "row"}
		%div{:class => "col text-left"}
			%p{:class => "text-muted"} Partbox version: 
		%div{:class => "col text-center"}
			%p{:class => "text-muted"}Made with ❤️ by Wisconsin Public Radio
		%div{:class => "col text-right"}
			%p{:class => "text-muted"}Add footer links here