%div{:class => "row"}
	%div{:class => "col text-left"}
		%span{:class => "text-muted"} Partbox version: #{Rails.configuration.version}
	%div{:class => "col text-center"}
		%span{:class => "text-muted"}Made with ❤️ by Wisconsin Public Radio
	%div{:class => "col text-right"}
		%span{:class => "text-muted"}Add footer links here
