%span
  %ul
    %li
      %span{:id => "hidden-buttons"}
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    %li
      %span
        %i.icon.ion-volume-high
        = link_to "Parts", parts_path
