<h1>New Order</h1>

<div class="row">
  <div class="card text-center mx-auto" style="width: 45em;">
    <div class="card-header">
      Create Order #<%= @random_number %>
    </div>
    <div class="card text-center mx-auto border-0" style="width: 30em;">
<%= render 'form', order: @order %>
  </div>


<%= link_to 'Back', orders_path %>
</div>

</div>
