development:
  adapter: postgresql
  database: part-dev
  pool: 25
  timeout: 5000
  username:
  password:

test:
  adapter: postgresql
  database: part-test
  pool: 25
  timeout: 5000
  username:
  password:

production:
  adapter: postgresql
  database: part-prod
  pool: 25
  timeout: 5000
  username:
  password:
