development:
  adapter: postgresql
  database: part-dev
  pool: 25
  timeout: 5000
  username: erbartos
  password: 

test:
  adapter: postgresql
  database: part-test
  pool: 25
  timeout: 5000
  username: erbartos
  password:
