%h1 New Consumable
%p#notice
- if notice.present?
  %div.alert.alert-success
    = notice
-if alert.present?
  %div.alert.alert-danger
    = alert
.row
  .card.text-center.mx-auto{style: "width: 45em;"}
    .card-header
      New Consumable
    .card.text-center.mx-auto.border-0{style: "width: 30em;"}
      = render 'form', consumable: @consumable
    = link_to 'Back', consumables_path
