<h1>New Consumable</h1>
<div class="row">
  <div class="card text-center mx-auto" style="width: 45em;">
    <div class="card-header">
      New Consumable
      </div>
    <div class="card text-center mx-auto border-0" style="width: 30em;">

<%= render 'form', consumable: @consumable %>
</div>
<%= link_to 'Back', consumables_path %>
</div>
</div>